$bg-color: black;

$heading-extra-text--font-size: 10px;
$heading-extra-text--letter-spacing: 1px;
$heading-extra-text--font-weight: 500;
$heading-extra-text--color: #9fa7bb;

$heading-text--font-size: 34px;
$heading-text--font-weight: 600;
$heading-text--letter-spacing: normal;
$heading-text--color: #232323;
$heading-text--margin: 0 20px 20px 20px;
